.body-blackout {
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;

  &.is-blacked-out {
    display: block;
  }
}

.popup-modal {
  height: 50vh;
  width: 60vw;
  background-color: #fff;
  position: absolute;
  border-radius: 13px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1011;

  &.is--visible {
    opacity: 1;
    pointer-events: auto;
  }

  &__close {
    position: absolute;
    font-size: 1.2rem;
    right: -10px;
    top: -10px;
    cursor: pointer;
  }

  > input {
    width: 100%;
    border-radius: 4px;
    border: solid 2px #efefef;
  }
}

.search-results {
  overflow-y: scroll;
  max-height: 36vh;
  padding: 0;
}
