{% macro content(data) %}
<div class="container">
    <div class="content-container">
        <div class="profile">
            <h1>{{data.name}}</h1>
            <p class="profile-bio">{{data.bio}}</p>
            <a href="{{data.url}}" class="profile-link" target="_blank">View Profile</a>

            <div class="following">
                <h2>Following</h2>
                <ul>
                {% for feed in data.following %}
                    {% set feed_data = load_data(url=feed.url,format="json") %}
                    {% if feed_data %}
                        <li>
                            <a href="{{feed_data["url"]}}" class="profile-link" target="_blank">
                                {{feed_data["name"]}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="lists">
            <p>Last Updated on {{data.last_updated | date(format="%B %d, %Y")}}</p>
            {% for list in data.lists %}
                <details class="list">
                    <summary id="{{list.name | slugify}}"">
                        <h2 class="list-name">
                            {{list.name}}
                        </h2>
                        <a href="#{{list.name | slugify}}">🔗</a>
                    </summary>
                    <div class="books">
                        {% for book in list.books %}
                            <article class="book" id="{{list.name ~ "-" ~ book.title | slugify}}">
                                {% if book.image %}
                                    <img class="book-image" src="https://cors-anywhere.knopoff.workers.dev/?{{book.image}}" async defer />
                                {% endif %}
                                <div>
                                    {% if book.link %}
                                        <h3><a href="{{book.link}}">{{book.title}}</a></h3>
                                    {% else %}
                                        <h3>{{book.title}}</h3>
                                    {% endif %}
                                    {% if book.author %}
                                    <h4 class="book-author">by&nbsp;{{book.author}}</h4>
                                    {% endif %}
                                    {% if book.date_finished %}
                                        <span class="book-finished">Finished On {{book.date_finished | date}}</span>
                                    {% endif %}
                                    {% if book.notes %}
                                        <p class="notes">{{book.notes | markdown(inline=true) | safe}}</p>
                                    {% endif %}
                                </div>
                            </article>
                            {% if book.notes %}
                                <p class="notes mobile">{{book.notes | safe}}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </details>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}