:root {
  --primary-color: #212121;
  --base-font-size: 16px;
  --secondary-color: #e7bb96;
  --tertiary-color: #7b3634;
  --accent-color: #0a648f;
  --background-color: white;
  --border-color: #efefef;
  --title: "Publico Headline", Helvetica, sans-serif;
  --content: Graphik, Helvetica, sans-serif;
  --mono: Courier, monospace;
}

html {
  background: var(--background-color);
}

/* MARK: Grid Setup */
body {
  display: grid;
  grid-template-areas:
    "buffer1 buffer2"
    "sidebar content"
    "sidebar content";
  grid-template-columns: 22vw 74vw;
  column-gap: 20px;
  grid-template-rows: 10vh 24vh 66vh;
  width: 98vw;
  padding: 0 2vw 0 0;
  margin: 0;
  height: 100vh;
  grid-auto-flow: row;
  color: var(--primary-color);
  font-family: var(--content);
  /* overflow-y: hidden; */
}

pre {
  overflow: auto;
  word-wrap: normal;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  padding: 1.45rem;
}

.search-info {
  color: #b5b3b3;
  font-style: italic;
  grid-area: buffer2;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.search-info > img {
  display: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

/* MARK: SIDEBAR */
#sidebar {
  padding: 0 2vw 0 2vw;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 40vh 50vh;
  grid-template-columns: 100%;
  font-size: var(--base-font-size);
  background: var(--secondary-color);
  font-family: var(--mono);
}

.buffer {
  grid-area: buffer1;
  background: var(--secondary-color);
  width: 100%;
  height: 100%;
}

.tagline {
  grid-row: 1;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.tagline > a {
  text-align: center;
}

ul.tags {
  display: flex;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}

main ul {
  display: block;
}

main ul > li {
  padding: 5px;
}

.tagline > ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.tagline > ul > li {
  padding: 5%;
}

.tagline > ul > li > a {
  text-decoration: none;
  color: var(--primary-color);
}

.logo {
  grid-row: 2;
  max-width: 100%;
  display: flex;
  align-items: center;
}

/* MARK: POST_LIST */
#main {
  grid-area: content;
  display: grid;
  grid-template-rows: 95% 15%;
}

.card {
  height: 20vh;
  width: 100%;
}

.card > * {
  padding: 10px;
}

.topline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.topline h3 {
  padding: 0;
  margin: 0;
  font-family: var(--title);
  font-weight: 100;
  text-align: right;
}

.tags a {
  font-family: var(--mono);
  color: var(--tertiary-color);
  padding: 5px;
}

/* MARK: FOOTER */
footer {
  display: flex;
  justify-content: space-between;
}

footer > .links > * {
  padding: 10px;
}

/* MARK: MAIN */
main img {
  max-width: 100%;
}

.logo > img {
  max-width: 100%;
  max-height: 300px;
}

main {
  overflow-y: scroll;
  padding: 0 20px 0 20px;
}

article a {
  color: var(--accent-color);
}

main blockquote {
  padding: 10px;
  font-style: italic;
}

.cta {
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 40px;
}

svg {
  color: var(--primary-color);
}

#footnote {
  display: none;
  position: relative;
  padding: 20px;
  background: var(--background-color);
  border-radius: 4px;
  width: 100px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  /* box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.25); */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#footnote:target {
  display: block;
}

@media only screen and (max-height: 375px) {
  .card {
    height: 100%;
  }
}

@media (max-width: 480px) {
  :root {
    --base-font-size: 18px;
  }

  body {
    display: grid;
    grid-template-areas:
      "sidebar"
      "content";
    grid-template-columns: 100vw;
    grid-template-rows: 120vh 90vh;
    width: 100vw;
    padding: 0 0 0 0;
    margin: 0;
    height: 200vh;
    grid-auto-flow: column;
    color: var(--primary-color);
    font-family: var(--content);
    overflow: scroll;
  }

  .tagline {
    grid-area: 2;
    flex-direction: column;
  }

  .tagline > ul {
    position: sticky;
    top: 0;
  }

  #sidebar {
    padding: 0;
    grid-area: sidebar;
    background: var(--background-color);
    margin: 0;
    grid-template-rows: 100vh 20vh;
  }

  .description {
    margin-bottom: 5px;
  }

  .logo {
    grid-row: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
  }

  .logo > img {
    max-width: 100%;
  }

  .tagline {
    flex-direction: column;
    background: var(--secondary-color);
  }

  #main {
    overflow: auto;
    margin: 0 5vw 0 5vw;
    font-size: 1em;
  }

  .card {
    height: 100%;
  }

  .topline {
    flex-direction: column-reverse;
  }

  .topline h3 {
    text-align: left;
  }

  .topline ul {
    padding: 0;
  }

  .search-info {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2b2b2b;
    --primary-color: white;
    --tertiary-color: #cc5955;
    --secondary-color: #bf9a7c;
    --border-color: #494949;
  }

  input {
    background-color: #444444;
    color: lightgray;
  }
}
