{% extends "base.html" %} {% block content %}
<h1 class="title">{{ section.title }}</h1>
<ul>
  {% for post in paginator.pages %}
  <li class="card">
    <div class="topline">
      <ul class="tags">
        {% for key,value in post.taxonomies %} {% for item in value %} {% set
        url = "/" ~ key ~ "/" ~ item %}
        <li><a href="{{ get_url(path=url) }}">{{item}}</a></li>
        {% endfor %} {% endfor %}
      </ul>
      <a href="{{ post.permalink }}" class="card-link"
        ><h3>{{ post.title }}</h3></a
      >
    </div>
    <a href="{{ post.permalink }}" class="card-link"
      >{{post.content | striptags | truncate(length=180, end="...") | safe }}</a
    >
  </li>
  {% endfor %}
</ul>
<nav class="pagination">
  {% if paginator.previous %}
  <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
  {% endif %} {% if paginator.next %}
  <a class="next" href="{{ paginator.next }}">Next ›</a>
  {% endif %}
</nav>
{% endblock content %}
