{% import "macros/icons.html" as icons %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{%block title %}{{config.title}}{%endblock title%}</title>
    <link rel="stylesheet" type="text/css" href={{ get_url(path="styles.css" , trailing_slash=false)}} />
    <link rel="stylesheet" type="text/css" href={{ get_url(path="animations.css" , trailing_slash=false)}} />
    <meta charset="utf-8" />
    <meta name="color-scheme" content="light dark">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ config.extra.forage_author }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    </link>
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    </link>
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    </link>
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    </link>
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    </link>
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    </link>
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    </link>
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    </link>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    </link>
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    </link>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    </link>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    </link>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    </link>
    {% if config.extra.forage_microblog %}
    <link href="https://micro.blog/{{config.extra.forage_microblog}}" rel="me" />{% endif %}
    <link rel="manifest" href="/manifest.json">
    </link>
    <meta name="msapplication-TileColor" content="#ffffff">
    </meta>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    </meta>
    <meta name="theme-color" content="#ffffff">
    </meta>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
        %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}
    <script type="text/javascript" async defer src={{ get_url(path="logo.js" , trailing_slash=false)}}></script>
    <script type="text/javascript" async defer src={{ get_url(path="footnoteFix.js" , trailing_slash=false)}}></script>
    <script type="text/javascript" async defer src={{ get_url(path="elasticlunr.min.js" , trailing_slash=false)}}></script>
    <script type="text/javascript" async defer src={{ get_url(path="search_index.en.js" , trailing_slash=false)}}></script>
    <script type="text/javascript" async defer src={{ get_url(path="search.js" , trailing_slash=false)}}></script>
    {% block head %}
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    {% endblock %}
</head>

<body>
    <main title="content">
        {% block content %}
        {% endblock %}
        <a href="/" title="Home">
            <svg width="122" height="157" viewBox="0 0 122 157" fill="none" xmlns="http://www.w3.org/2000/svg"
                id="logo">
                <rect width="122" height="157" rx="20" fill="#EFEFEF" />
                <path
                    d="M38.56 20.496H47.92C51.984 20.496 55.024 21.904 57.04 24.72C59.088 27.536 60.112 31.712 60.112 37.248C60.112 42.784 59.088 46.96 57.04 49.776C55.024 52.592 51.984 54 47.92 54H38.56V20.496ZM47.728 50.496C50.352 50.496 52.352 49.568 53.728 47.712C55.136 45.856 55.84 43.232 55.84 39.84V34.656C55.84 31.264 55.136 28.64 53.728 26.784C52.352 24.928 50.352 24 47.728 24H42.592V50.496H47.728ZM46.912 83.584L42.112 89.248V100H38.08V66.496H42.112V83.968H42.256L46.672 78.4L56.56 66.496H61.408L49.648 80.608L61.744 100H57.04L46.912 83.584Z"
                    fill="#6D696D" />
                <line x1="22" y1="116.5" x2="104" y2="116.5" stroke="#0A648F" stroke-width="5" />
                <circle cx="97.5" cy="131.5" r="6.5" fill="#0A648F" />
            </svg>
        </a>
    </main>
    <footer>
        <span>Copyright {{ now() | date(format="%Y") }}</span>
        <div class="links">
            {% if config.extra.forage_email %}
            <a onClick="{{config.extra.forage_email}}" title="Send me an email!">
                {{icons::mail_icon()}}
            </a>
            {% endif %}
            {% if config.extra.forage_github %}
            <a href="{{config.extra.forage_github}}" rel="noopener noreferrer nofollow" target="_blank" title="Github">
                {{icons::github_icon()}}
            </a>
            {% endif %}
            {% if config.extra.forage_linkedin %}
            <a href="{{config.extra.forage_linkedin}}" rel="noopener noreferrer nofollow" target="_blank"
                title="LinkedIn">
                {{icons::linkedin_icon()}}
            </a>
            {% endif %}
            <a href="/feed.xml" title="RSS Feed">
                {{icons::rss_icon()}}
            </a>
            <a href="/library" title="My Library">
                {{icons::bookmark_icon()}}
            </a>
        </div>
        </div>
    </footer>
    <dialog id="search">
        <form method="dialog">
            <div class="search-container">
                <input id="search-box" type="search" placeholder="Search...">
                <div class="search-results">
                    <div class="search-results__header"></div>
                    <ul class="search-results__items"></ul>
                </div>
            </div>
            <button value="cancel">Cancel</button>
        </form>
    </dialog>
    <div id="pointer"></div>
</body>
<script defer data-domain="dustinknopoff.dev" src="https://analytics.knopoff.dev/js/script.js"></script>
</html>