{% import "macros/icons.html" as icons %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{%block title %}{{config.title}}{%endblock title%}</title>
        <link rel="stylesheet" type="text/css" href={{ get_url(path="reset.css", trailing_slash=false)}} />
        <link rel="stylesheet" type="text/css" href={{ get_url(path="styles.css", trailing_slash=false)}} />
        <link rel="stylesheet" type="text/css" href={{ get_url(path="modal.css", trailing_slash=false)}} />
        <link rel="stylesheet" type="text/css" href={{ get_url(path="animations.css", trailing_slash=false)}} />
        <meta charset="utf-8" />
        <meta name="color-scheme" content="light dark">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
        <meta name="author" content="{{ config.extra.forage_author }}">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png"></link>
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png"></link>
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png"></link>
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png"></link>
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png"></link>
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png"></link>
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png"></link>
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png"></link>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png"></link>
        <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png"></link>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"></link>
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"></link>
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"></link>
        {% if config.extra.forage_microblog %}<link href="https://micro.blog/{{config.extra.forage_microblog}}" rel="me" />{% endif %}
        <link rel="manifest" href="/manifest.json"></link>
        <meta name="msapplication-TileColor" content="#ffffff"></meta>
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"></meta>
        <meta name="theme-color" content="#ffffff"></meta>
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer-when-downgrade">
        {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}
    </head>
    <body>
        <div class="buffer"></div>
        <nav id="sidebar">
            <div class="tagline">
                <a class="description" href={{ get_url(path="@/articles/about.md")}}>rustacean, cook, and martial arts enthusiast</a>
                <ul>
                    {% for item in config.extra.forage_sidebar %}
                        <li class="mobile-menu-item">
                            <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                    <li id="search-img" class="search-img" height="16">
                        {{icons::search_icon()}}
                    </li>
                </ul>
            </div>
            <a class="logo" href={{ config.base_url }} width="100" height="200" >
                <img src="/logo.png" alt="logo"></img>
            </a>
        </nav>
        <span class="search-info">
            Press s to search
        </span>
        <div id="main">
            <main>
                {% block content %} {% endblock %}
            </main>
            <footer>
                <span>Copyright {{ now() | date(format="%Y") }}</span>
                <div class="links">
                    {% if config.extra.forage_email %}
                    <a onClick="{{config.extra.forage_email}}">
                        {{icons::mail_icon()}}
                    </a>
                    {% endif %}
                    {% if config.extra.forage_github %}
                    <a href="https://github.com/dustinknopoff" rel="noopener noreferrer nofollow" target="_blank">
                        {{icons::github_icon()}}
                    </a>
                    {% endif %}
                    {% if config.extra.forage_linkedin %}
                    <a href="{{config.extra.forage_linkedin}}" rel="noopener noreferrer nofollow" target="_blank">
                        {{icons::linkedin_icon()}}
                    </a>
                    {% endif %}
                    <a href="{{get_url(path="@/reads/_index.md")}}">
                    {{icons::bookmark_icon()}}
                    </a>
                    <a href="/feed.xml">
                        {{icons::rss_icon()}}
                    </a>
                </div>
                <div>
                    <a href="https://github.com/dustinknopoff/website-zola">Forage</a> theme made by <a href="https://dustinknopoff.dev">Dustin Knopoff</a> using <a href="https://getzola.org">Zola</a>
                </div>
            </footer>
        </div>
        <div class="body-blackout" />
        <div class="popup-modal shadow">
 <div id="search-header animate glow">
      <h1 class="font-weight-bold">
    Search Posts
  </h1>
  <a id="search-close">{{icons::close_icon()}} </a>
 </div>
  <input type="search" id="search" placeholder="planetary escargo" autofocus />
  <ul class="search-results">
    <div class="search-results__items"></div>
  </ul>
  </div>
    </body>
    <script async type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
    <script async type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
    <script async type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
    <script async type="text/javascript" src="{{ get_url(path="mobileScroll.js")}}"></script>
    {% block extra_js %} {% endblock %}
</html>
