{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}
{%block content%}
<header id="intro" title="introduction">
  <h1>:wave: I’m Dustin</h1>
  <h2>rustacean, martial artist, and cook</h2>
  <a class="til-link" href="/til">TiL</a>
</header>
<section class="posts wrapper" title="Posts">
  <div>
    {% set section = get_section(path="articles/_index.md") %}
    {% for year, posts in section.pages | group_by(attribute="year") %}
    <div class="animate blur">
      <h2 class="year">{{ year }}</h2>
      <ul class="posts" title="Posts in {{year}}">
        {% for post in posts | sort(attribute="date") | reverse %}
         {% if loop.index == 1 %}
        <li class="card">
          <a href="{{ post.permalink }}">
            <span class="topline">
              {{ post.title }}
            </span>
            <p>{{post.content | striptags | truncate(length=180, end="...") | safe
              }}</p>
          </a>
          <ul class="tags">
            {% for key, value in post.taxonomies %}
            {% if value %}
            {% for name in value %}
            <li class="{{key}} {{name}}">
              <a href="/{{key}}/{{name}}">
                {{name}}
              </a>
            </li>
            {% endfor %}
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{{ post.permalink }}">{{ post.title }}</a>
          <ul class="tags">
            {% for key, value in post.taxonomies %}
            {% if value %}
            {% for name in value %}
            <li class="{{key}} {{name}}">
              <a href="/{{key}}/{{name}}">
                {{name}}
              </a>
            </li>
            {% endfor %}
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock content %}