{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}
{%block content%}
<header id="intro" title="introduction">
  <h1>:wave: I’m Dustin</h1>
  <h2>rustacean, martial artist, and cook</h2>
  <a class="til-link" href="/til">TiL</a>
  <nav>
    <ul>
      <li><a href="/categories/projects">projects</a></li>
      <li><a href="/categories/blog">blog</a></li>
      <li><a href="/categories/showcase">showcase</a></li>
      <li><a href="/til">TiL</a></li>
    </ul>
  </nav>
</header>
<section class="posts wrapper" title="Posts">
  <div>
    {% set section = get_section(path="articles/_index.md") %}
    <div class="animate blur">
      <h2>Latest</h2>
      <ul class="posts">
        {% for post in section.pages | sort(attribute="date") | reverse | slice(end=5) %}
          <li class="preview">
            <a href="{{ post.permalink }}">{{ post.title }}</a>
            <ul class="tags">
              {% for key, value in post.taxonomies %}
                {% if value and key == "tags" %}
                {% for name in value %}
                  <li class="{{key}} {{name}}">
                    <a href="/{{key}}/{{name}}">
                      {{name}}
                    </a>
                  </li>
                {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock content %}