<!DOCTYPE html>
<html lang="en">

<head>
    <title>{%block title %}{{config.title}}{%endblock title%}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="/animations.css" />
    <meta charset="utf-8" />
    <meta name="color-scheme" content="light dark">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ config.extra.forage_author }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    </link>
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    </link>
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    </link>
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    </link>
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    </link>
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    </link>
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    </link>
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    </link>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    </link>
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    </link>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    </link>
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    </link>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    </link>
    {% if config.extra.forage_microblog %}
    <link href="https://micro.blog/{{config.extra.forage_microblog}}" rel="me" />{% endif %}
    <link rel="manifest" href="/manifest.json">
    </link>
    <meta name="msapplication-TileColor" content="#ffffff">
    </meta>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    </meta>
    <meta name="theme-color" content="#ffffff">
    </meta>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
        %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}
    <script type="text/javascript" async defer src="/logo.js"></script>
    <script type="text/javascript" async defer src="/footnoteFix.js"></script>
    <script type="text/javascript" async defer src="/elasticlunr.min.js"></script>
    <script type="text/javascript" async defer src="/search_index.en.js"></script>
    <script type="text/javascript" async defer src="/search.js"></script>
    <script type="text/javascript" src="/htmx.min.js"></script>
    {% block head %}
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    {% endblock %}
</head>

<body>
    <main id="page-swatch">
        <div>
            <p>oklch(48% 0.101 236.82)</p>
            <p>#0b658f</p>
        </div>
    </main>
</body>
<script defer data-domain="dustinknopoff.dev" src="https://analytics.knopoff.dev/js/script.tagged-events.js"></script>

</html>