<!DOCTYPE html>
<html lang="en">

<head>
    <title>{%block title %}{{config.title}}{%endblock title%}</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="/animations.css" />
    <meta charset="utf-8" />
    <meta name="color-scheme" content="light dark">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ config.extra.forage_author }}">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{section.permalink}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Dustin Knopoff">
    <meta property="og:description" content="{{section.extra.description}}">
    <meta property="og:image" content="https://dustinknopoff.dev/swatch.png">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="dustinknopoff.dev">
    <meta property="twitter:url" content="{{section.permalink}}">
    <meta name="twitter:title" content="Dustin Knopoff">
    <meta name="twitter:description" content="{{section.extra.description}}">
    <meta name="twitter:image" content="https://dustinknopoff.dev/swatch.png">
    <link rel="manifest" href="/manifest.json">
    </link>
    <meta name="msapplication-TileColor" content="#0b658f">
    </meta>
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    </meta>
    <meta name="theme-color" content="#0b658f">
    </meta>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="description" content="{{section.extra.description}}">
</head>

<body>
    <main id="page-swatch">
        <div>
            <p>Peacock Blue</p>
            <a href="https://oklch.com/#48,0.101,236.82,100">oklch(48% 0.101 236.82)</a>
            <p>#0b658f</p>
        </div>
    </main>
</body>
<script defer data-domain="dustinknopoff.dev" src="https://analytics.knopoff.dev/js/script.tagged-events.js"></script>

</html>